.day {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 1rem;
	border-radius: 0.5rem;
	gap: 0.5rem;
}

@media screen and (min-width: 640px) {
	.day {
		flex-direction: row;
	}
}
