.container {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.title {
	margin: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.favorite {
	display: none;
	justify-content: center;
	align-items: center;
	border: none;
	fill: none;
	stroke: var(--color-ui-secondary);
	stroke-width: 2px;
}

.favorite.active {
	fill: red;
	stroke: red;
}

.images {
	display: flex;
	gap: 0.5rem;
	overflow: hidden;
	margin: 0 -1rem;
}

.images img {
	border-radius: 0;
}

.images .first,
.images .second {
	flex: 2;
	display: none;
	flex-direction: column;
	gap: 0.5rem;
}

.description {
	margin: 0;
	font-size: 1.25rem;
	white-space: pre-wrap;
	line-height: 150%;
}

.info {
	display: flex;
	flex-direction: column;
}

.body {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 1rem;
}

.row {
	margin: 0;
	display: flex;
	gap: 0.5rem;
	align-items: center;
	padding: 0.5rem 0 !important;
	cursor: pointer;
	color: var(--color-text-secondary);
}

.row svg {
	fill: var(--color-text-secondary);
}

.row p {
	margin: 0;
}

.opened {
	color: var(--color-ok);
}

.closed {
	color: var(--color-danger);
}

.actions {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	flex-shrink: 0;
}

@media screen and (min-width: 640px) {

	.title {
		margin: 0.5rem 0;
	}

	.favorite {
		display: flex;
	}

	.images {
		margin: 0;
		border-radius: 0.75rem;
	}

	.images .first {
		display: flex;
	}

	.image {
		border-radius: 0;
		cursor: pointer;
	}

	.info {
		flex-direction: row;
		flex-wrap: wrap;
		gap: 0 1.5rem;
	}

	.actions {
		flex-direction: row;
	}

	.booking {
		margin: 0;
		flex-shrink: 0;
	}
}

@media screen and (min-width: 960px) {
	.images .second {
		display: flex;
	}

	.body {
		flex-direction: row;
		gap: 2rem;
	}
}
