.container {
    margin: 0 -1rem;
}

.header {
    padding: 0.5rem 1rem 0;
}

.name {
    margin: 0;
}

.description {
    margin: 0;
}

.list {
    display: flex;
    gap: 0.5rem;
    align-items: stretch;
    padding: 0.75rem 1rem;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-padding: 1rem;
}