.container {
	margin: 0 -1rem;
}

.header {
	padding: 0.5rem 1rem 0;
}

.name {
	margin: 0;
}

.description {
	margin: 0;
}

.list {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	align-items: stretch;
	padding: 0.75rem 1rem;
	overflow-x: auto;
	scroll-snap-type: x mandatory;
	scroll-padding: 1rem;
}

@media screen and (min-width: 640px) {
	.container {
		margin: 0;
	}

	.header {
		padding: 1rem 0;
	}

	.list {
		all: unset;
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
		padding: 0;
		gap: 2rem 1.5rem;
	}
}
