.list {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
	gap: 1.5rem 1rem;
}

@media screen and (min-width: 640px) {
	.list {
		grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
	}
}
