.container {
    padding: 1rem 1rem max(1rem, env(safe-area-inset-bottom));
    display: flex;
    flex-direction: column;
    max-width: 64rem;
    width: 100%;
    margin: 0 auto;
    /* overflow-y: auto; */
}