/* .footer {
    background: var(--color-ui-tertiary);
    padding: 1rem;
    padding-bottom: max(1rem, env(safe-area-inset-bottom));
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.25rem;
    margin-top: auto;
} */

.footer {
	display: none;
}

.footer * {
	color: #666;
}

.footer > * > * {
	flex-shrink: 0;
	font-size: 1.125rem;
}

.title {
	margin: 0;
	font-size: 1.125rem;
}

.slogan {
	margin: 0;
}

.brand {
	color: var(--color-primary);
}

.links {
	display: flex;
	gap: 0.5rem;
}

.link {
	color: var(--color-text-tertiary);
	font-family: 'DM Sans', sans-serif;
}

@media screen and (min-width: 640px) {
	.footer {
		display: flex;
		align-items: center;
		margin: 1rem 0 0;
		padding: 1.5rem 0;
		flex-direction: column;
		gap: 1rem 2rem;
	}
}

@media screen and (min-width: 960px) {
	.footer {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
}
