.footer {
    background: var(--color-ui-tertiary);
    padding: 1rem;
    padding-bottom: max(1rem, env(safe-area-inset-bottom));
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.25rem;
    margin-top: auto;
}

.title {
    margin: 0;
    font-size: 1.125rem;
}

.slogan {
    margin: 0;
}

.brand {
    color: var(--color-primary);
}

.links {
    display: flex;
    gap: 0.5rem
}

.link {
    color: var(--color-text-tertiary);
    font-family: 'DM Sans', sans-serif;
}