/* .header {
	position: fixed;
	width: 100%;
	bottom: 0;
	z-index: 10;
	margin: 0 -1rem 0;
} */

.header {
	margin-bottom: 0.5rem;
}

.spacer {
	flex-shrink: 0;
}

@media screen and (min-width: 640px) {
	.header {
		position: relative;
		top: 0;
		margin: 0;
		width: 100%;
		margin-bottom: 0;
	}

	.spacer {
		display: none;
	}
}
