.navbar {
	display: flex;
	align-items: center;
}

.link {
	height: 3rem !important;
	text-decoration: none !important;
	border-radius: 0.5rem;
	display: flex;
	gap: 0.75rem;
	justify-content: center;
	align-items: center;
	transition: all 150ms;
	border-radius: 1.5rem;
	padding: 0 1rem !important;
}

.text {
	display: none;
	font-size: 1.125rem;
	color: #555;
}

.link:hover,
.link:hover .text,
.text:hover {
	color: #000;
}

/* .navbar svg {
	stroke: #222;
	width: 1.5rem;
} */

/* .link.active {
	background: #555;
} */

.link.active .text {
	color: #000;
}

.link svg {
	stroke: #555;
}

/* .navbar a:hover svg {
	stroke: var(--color-primary);
} */

.feedback {
	display: none;
}

/* TODO: Comprendre l'heritage CSS */

.items {
	font-size: 1rem;
	background: #333;
	color: #fff;
	border-radius: 0.5rem;
	padding: 0.2rem 0.5rem;
}

.navbar a:hover .items {
	background: var(--color-primary);
}

.login {
	margin: 0.5rem 1rem;
}

@media screen and (min-width: 640px) {
	.menu {
		border: none;
		justify-content: space-between;
		padding: 0.75rem 0;
		align-items: center;
		gap: 2rem;
		min-height: 3rem;
	}

	.logo {
		display: block;
		font-size: 1.5rem;
		color: black;
	}

	.logo span {
		color: var(--color-primary);
		font-size: 1.5rem;
	}

	.navbar {
		display: flex;
		flex: unset;
	}

	.icon {
		display: none;
	}

	.text {
		display: flex;
	}

	.feedback {
		display: block;
	}

	.login {
		font-size: 1.25rem;
		margin: 0;
		border: none;
		background: none;
	}

	.links {
		position: absolute;
		top: 100%;
		right: 0;
		padding: 0.5rem;
		background: white;
		border: 1px solid #ccc;
		border-radius: 0.5rem;
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		width: 20rem;
	}

	.links a {
		background: none;
		display: flex;
		flex-direction: row;
		gap: 0.5rem;
		justify-content: flex-start;
	}
}
