.menu {
    background: #ffffff;
    border-top: 1px solid #ddd;
    display: flex;
    padding-bottom: env(safe-area-inset-bottom);
    min-height: 3rem;
}

.navbar {
    flex: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navbar a {
    padding: 0 1rem;
    height: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.125rem;
    font-size: 0.875rem;
    flex: 1;
}

.navbar svg {
    stroke: #999;
}

.active svg {
    stroke: #333;
}