.navbar {
	display: flex;
	align-items: center;
}

.navbar a {
	padding: 0 1rem;
	height: 3rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.navbar svg {
	stroke: #222;
	width: 1.5rem;
}

.active svg {
	stroke: var(--color-primary);
}

.navbar a:hover svg {
	stroke: var(--color-primary);
}

/* TODO: Comprendre l'heritage CSS */

.cart {
	flex-direction: row !important;
	gap: 0.5rem !important;
}

.items {
	font-size: 1rem;
	background: #333;
	color: #fff;
	border-radius: 0.5rem;
	padding: 0.2rem 0.5rem;
}

.navbar a:hover .items {
	background: var(--color-primary);
}

.login {
	margin: 0.5rem 1rem;
}

@media screen and (min-width: 640px) {
	.menu {
		border: none;
		justify-content: space-between;
		padding: 0.75rem 0;
		align-items: center;
		gap: 2rem;
		min-height: 3rem;
		/* border-bottom: 1px solid #ddd; */
	}

	.navbar {
		display: flex;
		flex: unset;
	}

	.logo {
		display: block;
		font-size: 1.5rem;
		color: black;
	}

	.logo span {
		color: var(--color-primary);
		font-size: 1.5rem;
	}

	.login {
		font-size: 1.25rem;
		margin: 0;
		border: none;
		background: none;
	}

	.links {
		position: absolute;
		top: 100%;
		right: 0;
		padding: 0.5rem;
		background: white;
		border: 1px solid #ccc;
		border-radius: 0.5rem;
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		width: 20rem;
	}

	.links a {
		background: none;
		display: flex;
		flex-direction: row;
		gap: 0.5rem;
		justify-content: flex-start;
	}
}
