.container {
	flex: 0;
	align-self: center;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.emojis {
	width: fit-content;
	display: flex;
	gap: 0.5rem;
	justify-content: center;
	user-select: none;
	border-radius: 1.5rem;
}

.radio {
	position: absolute;
	opacity: 0;
	width: 0;
	height: 0;
}

.emoji {
	border-radius: 50%;
	width: 2.75rem;
	height: 2.75rem;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 2rem;
	padding-top: 0.15rem;
	cursor: pointer;
	transition: font-size 30ms;
}

.emoji:hover {
	background: #eee;
}

.radio:focus-visible ~ .emoji {
	background: #eee;
	outline: 1px solid var(--color-ui-hover);
	outline-offset: 2px;
}

.radio:checked ~ .emoji {
	background: #ddd;
}

.error {
	color: var(--color-danger);
}

.input-error {
	outline: 1px solid var(--color-danger);
}
