.form-group {
	flex: 1;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.input-group {
	width: 100%;
	display: flex;
	align-items: center;
	background: var(--color-ui-tertiary);
	border-radius: 0.5rem;
	transition: background 0.1s ease-in-out;
}

.input-group:hover {
	background: #ddd;
}

.input-group:focus-within {
	outline: 1px solid var(--color-ui-hover);
	outline-offset: 2px;
	background: var(--color-ui-tertiary);
}

.help {
	font-family: 'Rubik';
	font-size: 1rem;
	color: #666;
}

.error {
	color: var(--color-danger);
}

.input-error {
	outline: 1px solid var(--color-danger) !important;
}
