.backdrop {
	position: fixed;
	inset: 0;
	z-index: 10;
	background: #000000;
	opacity: 0.5;
	cursor: zoom-out;
}

.container {
	pointer-events: none;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	justify-content: center;
	z-index: 10;
	max-height: 100vh;
	/* ios viewport bug fix */
	max-height: 100dvh;
	/* max-height: calc(20dvh - (env(keyboard-inset-height) * 10)); */
}

.modal {
	pointer-events: all;
	position: relative;
	display: flex;
	flex-direction: column;
	background: #ffffff;
	/* width: 100%; */
	flex: 1;
	max-width: 60rem;
	max-height: 100%;
	overflow: hidden;
	padding-top: env(safe-area-inset-top);
	padding-bottom: env(safe-area-inset-bottom);
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid #eee;
	padding: 1rem;
	gap: 1rem;
	text-align: center;
}

.spacer {
	display: none;
}

.title {
	flex: 1;
	margin: 0;
	font-size: 1.5rem;
	text-align: start;
}

.close {
	width: 2.5rem;
	height: 2.5rem;
	min-width: 0;
	border-radius: 50%;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0;
	flex-shrink: 0;
}

.body {
	display: flex;
	flex-direction: column;
	overflow-y: auto;
	flex: 1;
	flex-shrink: 1;
	padding: 1rem;
}

.actions {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	border-top: 1px solid #eee;
	padding: 1rem;
	gap: 1rem;
}

@media screen and (min-width: 640px) {
	.container {
		padding: 2rem;
		align-items: center;
		inset: 0;
	}

	.modal {
		border-radius: 1rem;
		max-width: 40rem;
	}

	.spacer {
		display: block;
		width: 2.5rem;
		height: 2.5rem;
	}

	.title {
		text-align: center;
	}

	.body {
		padding: 1.5rem;
	}
}
