.card {
	display: flex;
	gap: 1rem;
	cursor: pointer;
	border-radius: 1rem;
	user-select: none;
	outline: none;
	transition: all 150ms;
	background: #fff;
	/* z-index: 10; */
}

.card:focus-visible {
	scale: 1.05;
	box-shadow: 0 0 2rem rgba(0, 0, 0, 0.2);
}

.body {
	flex: 1;
	min-width: 0;
	display: flex;
	flex-direction: column;
	gap: 0.35rem;
}

.title {
	margin: 0;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.description {
	margin: 0;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}

.price {
	font-family: 'Rubik';
	font-size: 1.125rem;
	color: var(--color-primary);
}

.image {
	aspect-ratio: 1;
	flex-shrink: 0;
	width: 6.5rem;
}
