.container {
	margin: 0 -1rem;
}

.header {
	padding: 0.5rem 1rem 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.name {
	margin: 0;
}

.description {
	margin: 0;
}

.actions {
	padding: 0;
	display: flex;
	border: none;
	width: 3rem;
	height: 3rem;
	border-radius: 50%;
	background: transparent;
	margin-right: -0.25rem;
}

.actions:hover {
	background: none;
}

.navigation {
	display: none;
}

.pagination {
	display: none;
}

.list {
	display: flex;
	gap: 0.75rem;
	align-items: stretch;
	overflow-x: auto;
	scroll-snap-type: x mandatory;
	scroll-padding: 1rem;
}

.swiper {
	width: 100%;
	padding: 0.75rem 1rem !important;
	overflow: visible !important;
}

.swiper > div {
	overflow: visible !important;
}

@media screen and (min-width: 480px) {
	.navigation {
		display: flex;
		gap: 0.5rem;
		align-items: center;
	}
}

@media screen and (min-width: 640px) {
	.container {
		margin: 0;
	}

	.header {
		padding: 0.5rem 0 0;
	}

	.list {
		flex-wrap: wrap;
		/* display: grid; */
		/* grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr)); */
		gap: 1.5rem 0.75rem;
		scroll-padding: 0;
		scroll-snap-type: x;
	}

	.list::-webkit-scrollbar {
		display: none;
	}

	.swiper {
		padding: 0.75rem 0 !important;
	}

	.pagination {
		display: block;
	}
}
