:root {
	--color-primary: #aa0000;
	--color-ok: green;
	--color-warning: orange;
	--color-danger: #aa0000;
	--color-text-primary: #222222;
	--color-text-secondary: #666666;
	--color-text-tertiary: #999999;
	--color-text-inverted: #ffffff;
	--color-ui-primary: #aa0000;
	--color-ui-secondary: #222222;
	--color-ui-tertiary: #eeeeee;
	--color-ui-hover: #666;
	--color-ui-ok: green;
	--color-ui-warning: orange;
	--color-ui-danger: red;

	--margins: 1rem;
	--paddings: 1rem;
	--gaps: 1rem;
}

@font-face {
	font-family: 'Gilroy';
	src: url('/fonts/Gilroy/Gilroy-SemiBold.otf');
	font-style: normal;
	font-weight: 500;
	font-display: swap;
}

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@420&display=swap');

::selection {
	background: var(--color-primary);
	color: #fff;
	/* color: var(--color-primary);
	background: rgb(255, 220, 220); */
}

* {
	box-sizing: border-box;
	font-weight: 500;
	font-family: 'Gilroy', -apple-system, Segoe UI, sans-serif;
	color: var(--color-text-primary);
	-webkit-font-smoothing: antialiased;
	-webkit-tap-highlight-color: transparent;
}

html,
body {
	padding: 0;
	margin: 0;
}

#__next {
	height: 100vh;
	display: flex;
	flex-direction: column;
}

p,
p * {
	font-family: 'Rubik', sans-serif;
	line-height: 130%;
	line-height: 140%;
	font-size: 1.125rem;
	color: var(--color-text-secondary);
}

h1 {
	font-size: 1.75rem;
}

h2 {
	font-size: 1.375rem;
}

h3 {
	font-size: 1.25rem;
}

.danger {
	color: var(--color-danger);
	border-color: var(--color-danger);
}